In [53]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 50)

# description of fields: https://www.dallasopendata.com/City-Services/Animals-Inventory/qgg6-h4bd

In [17]:
original_df = pd.read_csv('FY2020_Dallas_Animal_Shelter_Data.csv')

pd.Series()
np.

/Users/cindywong/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9,10,27) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
original_df.head()

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,Council District,Intake Type,Intake Subtype,Intake Total,Reason,Staff Id,Intake Date,Intake Time,Due Out,Intake Condition,Hold Request,Outcome Type,Outcome Subtype,Outcome Date,Outcome Time,Receipt Number,Impound Number,Service Request Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
0,A0144701,DOG,HAVANESE,VT 12,IMPOUNDED,NaN,NaN,1,P0098773,6301,4,OWNER SURRENDER,GENERAL,1,PERSNLISSU,CDM,11/8/19,15:48:00,11/14/19,APP SICK,NaN,RETURNED TO OWNER,WALK IN,11/9/19,11:31:00,R19-558731,K19-486742,NaN,APP SICK,SCAN CHIP,OVER THE COUNTER,RETURNED TO OWNER,NOV.2019,FY2020
1,A0442587,DOG,TERRIER MIX,FREEZER,IMPOUNDED,NaN,NaN,1,P0492284,7102,2,OWNER SURRENDER,DEAD ON ARRIVAL,1,OTHRINTAKS,CDM,11/10/19,14:18:00,11/10/19,DEAD,NaN,DEAD ON ARRIVAL,DISPOSAL,11/10/19,0:00:00,NaN,K19-486954,NaN,DEAD,SCAN CHIP,OVER THE COUNTER,NaN,NOV.2019,FY2020
2,A0458972,DOG,CATAHOULA,RECEIVING,UNAVAILABLE,NaN,A19-195601,1,P9991718,4600,1,STRAY,AT LARGE,1,OTHER,MG1718,10/3/19,11:08:00,10/3/19,TREATABLE REHABILITABLE NON-CONTAGIOUS,NaN,RETURNED TO OWNER,FIELD,10/3/19,13:36:00,NaN,K19-482022,NaN,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN NO CHIP,SWEEP,NaN,OCT.2019,FY2020
3,A0525642,DOG,GERM SHEPHERD,INJD 001,IMPOUNDED,NaN,A19-196573,1,P0903792,16605,8,OWNER SURRENDER,GENERAL,1,OTHER,RA 1549,10/11/19,9:55:00,10/17/19,TREATABLE REHABILITABLE NON-CONTAGIOUS,EMERGENCY RESCUE,TRANSFER,MEDICAL-CONTAGIOUS,10/15/19,17:35:00,NaN,K19-483073,NaN,TREATABLE REHABILITABLE NON-CONTAGIOUS,SCAN CHIP,SWEEP,TAGGED,OCT.2019,FY2020
4,A0565586,DOG,SILKY TERRIER,LFD 119,UNAVAILABLE,NaN,NaN,1,P0890077,6900,1,STRAY,AT LARGE,1,OTHRINTAKS,JR,11/8/19,11:55:00,11/14/19,APP WNL,RESCU ONLY,RETURNED TO OWNER,WALK IN,11/9/19,12:57:00,R19-558750,K19-486694,NaN,APP WNL,SCAN CHIP,OVER THE COUNTER,RETURNED TO OWNER,NOV.2019,FY2020

In [45]:
original_df['Kennel Status'].value_counts()

UNAVAILABLE                 10666
IMPOUNDED                    6300
AVAILABLE                    2241
LAB                           668
RELEASED FROM QUARANTINE      136
EU RISK                       125
WILDLIFE                       97
PRE-LAB                        10
LIVESTOCK                       3
EVALUATION                      1
Name: Kennel Status, dtype: int64

In [19]:
original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20247 entries, 0 to 20246
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Animal Id               20247 non-null  object
 1   Animal Type             20247 non-null  object
 2   Animal Breed            20247 non-null  object
 3   Kennel Number           20247 non-null  object
 4   Kennel Status           20247 non-null  object
 5   Tag Type                0 non-null      float64
 6   Activity Number         10636 non-null  object
 7   Activity Sequence       20247 non-null  int64
 8   Source Id               20247 non-null  object
 9   Census Tract            18146 non-null  object
 10  Council District        18146 non-null  object
 11  Intake Type             20247 non-null  object
 12  Intake Subtype          20247 non-null  object
 13  Intake Total            20247 non-null  int64
 14  Reason                  19189 non-null  object
 15  Staff Id                20247 non-null  object
 16  Intake Date             20247 non-null  object
 17  Intake Time             20247 non-null  object
 18  Due Out                 20247 non-null  object
 19  Intake Condition        20247 non-null  object
 20  Hold Request            14205 non-null  object
 21  Outcome Type            20247 non-null  object
 22  Outcome Subtype         20247 non-null  object
 23  Outcome Date            19928 non-null  object
 24  Outcome Time            20247 non-null  object
 25  Receipt Number          8518 non-null   object
 26  Impound Number          20247 non-null  object
 27  Service Request Number  52 non-null     object
 28  Outcome Condition       18976 non-null  object
 29  Chip Status             19189 non-null  object
 30  Animal Origin           19189 non-null  object
 31  Additional Information  9133 non-null   object
 32  Month                   20247 non-null  object
 33  Year                    20247 non-null  object
dtypes: float64(1), int64(2), object(31)
memory usage: 5.3+ MB

In [74]:
dallas = original_df[['Animal Type', 'Animal Breed', 'Council District', 'Intake Type', 'Intake Subtype', 
                      'Reason', 'Intake Date', 'Intake Time', 'Due Out', 'Intake Condition', 'Outcome Type', 'Outcome Subtype',
                      'Outcome Date', 'Outcome Time', 'Outcome Condition', 'Animal Origin', 'Month']]

In [28]:
dallas['Reason'].value_counts()

OTHRINTAKS    8697
OTHER         6084
PERSNLISSU    1285
HOUSING        920
MEDICAL        881
BEHAVIOR       665
NOTRIGHTFT     453
FINANCIAL      204
Name: Reason, dtype: int64

In [41]:
dallas[['Intake Type', 'Intake Subtype', 'Outcome Type', 'Outcome Subtype', 'Reason']]

,Intake Type,Intake Subtype,Outcome Type,Outcome Subtype,Reason
0,OWNER SURRENDER,GENERAL,RETURNED TO OWNER,WALK IN,PERSNLISSU
1,OWNER SURRENDER,DEAD ON ARRIVAL,DEAD ON ARRIVAL,DISPOSAL,OTHRINTAKS
2,STRAY,AT LARGE,RETURNED TO OWNER,FIELD,OTHER
3,OWNER SURRENDER,GENERAL,TRANSFER,MEDICAL-CONTAGIOUS,OTHER
4,STRAY,AT LARGE,RETURNED TO OWNER,WALK IN,OTHRINTAKS
...,...,...,...,...,...
20242,STRAY,AT LARGE,RETURNED TO OWNER,FIELD,OTHER
20243,OWNER SURRENDER,FIELD,TRANSFER,UNDERAGE,HOUSING
20244,TREATMENT,HEART WORM,TREATMENT,COMPLETED,OTHER
20245,TREATMENT,HEART WORM,TREATMENT,COMPLETED,OTHRINTAKS
20246,OWNER SURRENDER,FIELD,TRANSFER,UNDERAGE,HOUSING

In [76]:
dallas[['Intake Date', 'Intake Time', 'Due Out', 'Outcome Date', 'Outcome Time']].dtypes

Intake Date     object
Intake Time     object
Due Out         object
Outcome Date    object
Outcome Time    object
dtype: object

In [77]:
from datetime import datetime

pd.to_datetime(dallas['Intake Time'], )

In [36]:
dallas.groupby('Animal Type').count()['Animal Breed']

Animal Type
BIRD            73
CAT           4527
DOG          15100
LIVESTOCK       10
WILDLIFE       537
Name: Animal Breed, dtype: int64

In [33]:
dallas[dallas['Animal Type'] == 'DOG'].groupby('Animal Type')['Animal Breed'].value_counts()

Animal Type  Animal Breed
DOG          PIT BULL          3556
             GERM SHEPHERD     2063
             CHIHUAHUA SH      1709
             LABRADOR RETR     1707
             ALASKAN HUSKY      371
                               ...
             PORT WATER DOG       1
             RETRIEVER MIX        1
             SPAN WATER DOG       1
             TERRIER MIX          1
             WELSH SPR SPAN       1
Name: Animal Breed, Length: 170, dtype: int64

In [34]:
dallas[dallas['Animal Type'] == 'CAT'].groupby('Animal Type')['Animal Breed'].value_counts()

Animal Type  Animal Breed
CAT          DOMESTIC SH       3863
             DOMESTIC MH        448
             DOMESTIC LH         79
             SIAMESE             51
             AMER SH             43
             RUSSIAN BLUE         8
             MAINE COON           6
             MANX                 5
             RAGDOLL              4
             TURKISH VAN          3
             ABYSSINIAN           2
             BENGAL               2
             BRITISH SH           2
             CHARTREUX            2
             AMER CURL SH         1
             BURMESE              1
             COLORPOINT           1
             EXOTIC SH            1
             KORAT                1
             PERSIAN              1
             SAVANNAH             1
             SCOTTISH FOLD        1
             TURKISH ANGORA       1
Name: Animal Breed, dtype: int64

In [38]:
dallas['Animal Origin'].value_counts()

OVER THE COUNTER    9350
FIELD               6723
SWEEP               2973
OPS                  115
AGGOPS                22
BITE                   5
CARE                   1
Name: Animal Origin, dtype: int64

In [39]:
dallas['Intake Type'].value_counts()

STRAY              11715
OWNER SURRENDER     4340
FOSTER              2117
CONFISCATED          766
TREATMENT            571
WILDLIFE             387
TRANSFER             333
KEEPSAFE              14
DISPOS REQ             4
Name: Intake Type, dtype: int64

In [40]:
dallas['Outcome Type'].value_counts()

ADOPTION             7086
RETURNED TO OWNER    4960
TRANSFER             2815
FOSTER               1840
EUTHANIZED           1321
LOST EXP              690
TREATMENT             569
OTHER                 293
FOUND EXP             205
DIED                  165
DEAD ON ARRIVAL       154
WILDLIFE              129
MISSING                13
DISPOSAL                7
Name: Outcome Type, dtype: int64

In [73]:
dallas['Reason'].value_counts()

OTHRINTAKS    8697
OTHER         6084
PERSNLISSU    1285
HOUSING        920
MEDICAL        881
BEHAVIOR       665
NOTRIGHTFT     453
FINANCIAL      204
Name: Reason, dtype: int64